@keyframes click
{
  0%   {width:50px;height :50px;opacity :0;border: 2px solid black;transform:translate(0px,0px);}
  25%  {width:70px;height :65px;opacity :0.3;border: 2px solid black;transform:translate(-10px,-10px);}
  50%  {width:80px;height :80px;opacity :0.7;border: 2px solid black;transform:translate(-15px,-15px);}
  75%  {width:90px;height :90px;opacity :1;border: 2px solid black;transform:translate(-20px,-20px);}
  100% {width:100px;height :100px;opacity :0;border: none;transform:translate(-25px,-25px);}
}
html,body{
  position: absolute
  top 0
  bottom: 0
  left 0
  right 0
  box-sizing: border-box
  outline: none
  margin: 0
  padding: 0
  overflow hidden

}